<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
    <div th:fragment="logoutButton">
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <button type="submit">Logout</button>
                <p class="mb-2">Hoşgeldiniz</p>
            </form>
        </div>
    </div>
</body>
</html>